.body {

    & .main {

        & .global-container {
            padding: 3.5rem 1rem 1rem 1rem;

            & .portfolio {
                margin: 0 2rem;

                & .image-portfolio {
                    
                    & .cadre-image {
                        position: absolute;
                        margin-left: 20px;
                        margin-top: 20px;
                        width: 16rem;
                        height: calc(16rem * 1.0407);
                        // border: solid 10px #F2542D;
                        border: solid 10px #211A1D;
                    }

                    & img{
                        width: 16rem;
                        position: absolute;
                        box-shadow: 0 0 10px #a7a69b;
                    }

                }

                & .txt-presentation {
                    width: calc(60vw - 18rem);
                    margin-left: 20rem;
                    max-height: 30vh;
                    overflow-x: scroll;

                    & h1 {
                        margin-bottom: 1.5rem;
                    }

                    & p {
                        margin-top: 1.5rem;
                        max-width: 50vw;
                        text-align: justify;
                        line-height: 1.6rem;
                    }

                    & .action {
                        display: flex;
                        margin-top: 2rem;
    
                        & a {
                            display: flex;
                            margin: 0 1rem;
                            width: 10rem;
                            height: 2.5rem;
                            background: #F2542D;
                            border-radius: 15px;
                            justify-content: center;
                            align-items: center;
                            transition: .2s;
                            
                            & .content {
                                text-align: center;
                            }
    
                            &:hover {
                                transform: translateY(-4px);
                            }
                        }
                    }
                }


                & .presentation {
                    position: absolute;
                    max-height: 62vh;
                    overflow-y: scroll;
                    top: 37vh;
                    
                    & .global-competences {
                        margin-top: 2rem;
                        & .title {
                            margin-bottom: 2rem;
                        }

                        & .competences {
                            display: flex;
                            flex-wrap: wrap;
                            
                            & .competence {
                                display: flex;
                                margin: 1rem 1rem;
                                padding: .5rem;
                                
                                & img {
                                    width: 5rem;
                                    margin: 0rem 1rem;
                                }
                                
                                & .python {
                                    width: 7rem;
                                    height: 5rem;
                                    
                                    & .img-python {
                                        position: absolute;
                                    }

                                    & .img-python-reverse {
                                        position: absolute;
                                        transform: rotate(180deg);
                                    }
                                }
                                
                                & .competence-description {
                                    max-width: 15rem;
                                }
                                
                                &:nth-child(1) {
                                    box-shadow: 0 0 10px #f7532180;
                                }
                                &:nth-child(2) {
                                    box-shadow: 0 0 10px #2090eb7c;
                                }
                                &:nth-child(3) {
                                    box-shadow: 0 0 10px #c763957e;
                                }
                                &:nth-child(4) {
                                    box-shadow: 0 0 10px #e8d34d7e;
                                }
                                &:nth-child(5) {
                                    box-shadow: 0 0 10px #7377ad80;
                                }
                                &:nth-child(6) {
                                    box-shadow: 0 0 10px #d8d6ca;
                                }
                                &:nth-child(7) {
                                    box-shadow: 0 0 10px #3d7aab81;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1792px) {
    .body {
        & .main {
            & .global-container {
                & .portfolio {
                    & .presentation {
                        & .global-competences {
                            & .competences {
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .body {
        & .main {
            position: absolute;
            height: 100vh;
            overflow-y: scroll;
            & .global-container {
                & .portfolio {
                    & .image-portfolio {
                        & .cadre-image {
                            position: absolute;
                            margin-left: 20px;
                            margin-top: 20px;
                            width: calc(10rem + 8vw);
                            height: calc(calc(10rem + 8vw) * 1.0407);
                            // border: solid 10px #F2542D;
                            border: solid 10px #211A1D;
                        }
    
                        & img{
                            width: calc(10rem + 8vw);
                            position: absolute;
                            box-shadow: 0 0 10px #a7a69b;
                        }
                    }

                    & .txt-presentation {
                        width: calc(100vw - 26rem);
                        overflow-x: visible;
                        position: sticky;
                    }
                    
                    & .presentation {
                        max-height: 100rem;
                        overflow-y: visible;
                        top: 0;
                        position: sticky;
                        
                        & .global-competences {
                            margin-top: 3rem;
                            position: sticky;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    .body {
        & .main {
            & .global-container {
                padding: 3.5rem 1rem 1rem 1rem;
                & .portfolio {
                    margin: 0rem;

                    & .image-portfolio {

                        & .cadre-image {
                            top: 7vh;
                            left: calc(calc(100vw - calc(10rem + 8vw)) / 2);
                        }
                        
                        & img{
                            top: 7vh;
                            left: calc(calc(100vw - calc(10rem + 8vw)) / 2);
                        }
                    }
                        
                    & .txt-presentation {
                        width: 85vw;
                        margin-left: 1vw;
                        margin-top: calc(13rem + 8vw);

                        & p {
                            margin-top: 1.5rem;
                            max-width: 85vw;
                        }

                        & .action {
                            display: flex;
                            margin-top: 2rem;
        
                            & a {
                                margin: 0 .5rem;
                            }
                        }
                    }

                    & .presentation {
                        max-height: 62vh;
                        top: 60vh;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .body {
        & .main {
            & .global-container {
                & .portfolio {
                    & .presentation {
                        & .global-competences {
                            margin-top: 8rem;
                            & .competences {
                                & .competence {
                                    margin: 1rem .25rem 1rem 1vw;
                                    & img {
                                        width: 20vw;
                                        margin: 0rem 1vw;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}