.body .main .global-container {
  padding: 3.5rem 1rem 1rem 1rem;
}
.body .main .global-container .portfolio {
  margin: 0 2rem;
}
.body .main .global-container .portfolio .image-portfolio .cadre-image {
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  width: 16rem;
  height: 16.6512rem;
  border: solid 10px #211A1D;
}
.body .main .global-container .portfolio .image-portfolio img {
  width: 16rem;
  position: absolute;
  box-shadow: 0 0 10px #a7a69b;
}
.body .main .global-container .portfolio .txt-presentation {
  width: calc(60vw - 18rem);
  margin-left: 20rem;
  max-height: 30vh;
  overflow-x: scroll;
}
.body .main .global-container .portfolio .txt-presentation h1 {
  margin-bottom: 1.5rem;
}
.body .main .global-container .portfolio .txt-presentation p {
  margin-top: 1.5rem;
  max-width: 50vw;
  text-align: justify;
  line-height: 1.6rem;
}
.body .main .global-container .portfolio .txt-presentation .action {
  display: flex;
  margin-top: 2rem;
}
.body .main .global-container .portfolio .txt-presentation .action a {
  display: flex;
  margin: 0 1rem;
  width: 10rem;
  height: 2.5rem;
  background: #F2542D;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.body .main .global-container .portfolio .txt-presentation .action a .content {
  text-align: center;
}
.body .main .global-container .portfolio .txt-presentation .action a:hover {
  transform: translateY(-4px);
}
.body .main .global-container .portfolio .presentation {
  position: absolute;
  max-height: 62vh;
  overflow-y: scroll;
  top: 37vh;
}
.body .main .global-container .portfolio .presentation .global-competences {
  margin-top: 2rem;
}
.body .main .global-container .portfolio .presentation .global-competences .title {
  margin-bottom: 2rem;
}
.body .main .global-container .portfolio .presentation .global-competences .competences {
  display: flex;
  flex-wrap: wrap;
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence {
  display: flex;
  margin: 1rem 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence img {
  width: 5rem;
  margin: 0rem 1rem;
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence .python {
  width: 7rem;
  height: 5rem;
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence .python .img-python {
  position: absolute;
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence .python .img-python-reverse {
  position: absolute;
  transform: rotate(180deg);
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence .competence-description {
  max-width: 15rem;
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence:nth-child(1) {
  box-shadow: 0 0 10px rgba(247, 83, 33, 0.5019607843);
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence:nth-child(2) {
  box-shadow: 0 0 10px rgba(32, 144, 235, 0.4862745098);
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence:nth-child(3) {
  box-shadow: 0 0 10px rgba(199, 99, 149, 0.4941176471);
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence:nth-child(4) {
  box-shadow: 0 0 10px rgba(232, 211, 77, 0.4941176471);
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence:nth-child(5) {
  box-shadow: 0 0 10px rgba(115, 119, 173, 0.5019607843);
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence:nth-child(6) {
  box-shadow: 0 0 10px #d8d6ca;
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence:nth-child(7) {
  box-shadow: 0 0 10px rgba(61, 122, 171, 0.5058823529);
}

@media only screen and (max-width: 1792px) {
  .body .main .global-container .portfolio .presentation .global-competences .competences {
    justify-content: center;
  }
}
@media only screen and (max-width: 1000px) {
  .body .main {
    position: absolute;
    height: 100vh;
    overflow-y: scroll;
  }
  .body .main .global-container .portfolio .image-portfolio .cadre-image {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    width: calc(10rem + 8vw);
    height: calc((10rem + 8vw) * 1.0407);
    border: solid 10px #211A1D;
  }
  .body .main .global-container .portfolio .image-portfolio img {
    width: calc(10rem + 8vw);
    position: absolute;
    box-shadow: 0 0 10px #a7a69b;
  }
  .body .main .global-container .portfolio .txt-presentation {
    width: calc(100vw - 26rem);
    overflow-x: visible;
    position: sticky;
  }
  .body .main .global-container .portfolio .presentation {
    max-height: 100rem;
    overflow-y: visible;
    top: 0;
    position: sticky;
  }
  .body .main .global-container .portfolio .presentation .global-competences {
    margin-top: 3rem;
    position: sticky;
  }
}
@media only screen and (max-width: 750px) {
  .body .main .global-container {
    padding: 3.5rem 1rem 1rem 1rem;
  }
  .body .main .global-container .portfolio {
    margin: 0rem;
  }
  .body .main .global-container .portfolio .image-portfolio .cadre-image {
    top: 7vh;
    left: calc((100vw - (10rem + 8vw)) / 2);
  }
  .body .main .global-container .portfolio .image-portfolio img {
    top: 7vh;
    left: calc((100vw - (10rem + 8vw)) / 2);
  }
  .body .main .global-container .portfolio .txt-presentation {
    width: 85vw;
    margin-left: 1vw;
    margin-top: calc(13rem + 8vw);
  }
  .body .main .global-container .portfolio .txt-presentation p {
    margin-top: 1.5rem;
    max-width: 85vw;
  }
  .body .main .global-container .portfolio .txt-presentation .action {
    display: flex;
    margin-top: 2rem;
  }
  .body .main .global-container .portfolio .txt-presentation .action a {
    margin: 0 0.5rem;
  }
  .body .main .global-container .portfolio .presentation {
    max-height: 62vh;
    top: 60vh;
  }
}
@media only screen and (max-width: 400px) {
  .body .main .global-container .portfolio .presentation .global-competences {
    margin-top: 8rem;
  }
  .body .main .global-container .portfolio .presentation .global-competences .competences .competence {
    margin: 1rem 0.25rem 1rem 1vw;
  }
  .body .main .global-container .portfolio .presentation .global-competences .competences .competence img {
    width: 20vw;
    margin: 0rem 1vw;
  }
}/*# sourceMappingURL=index.css.map */