.body .main .global-container {
  padding: 3.5rem 1rem 1rem 1rem;
}
.body .main .global-container .portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem;
}
.body .main .global-container .portfolio .image-portfolio {
  display: flex;
  width: 16rem;
}
.body .main .global-container .portfolio .image-portfolio .cadre-image {
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  width: 16rem;
  height: 16.6512rem;
  border: solid 10px #211A1D;
}
.body .main .global-container .portfolio .image-portfolio img {
  width: 16rem;
  position: relative;
  box-shadow: 0 0 10px #a7a69b;
}
.body .main .global-container .portfolio .txt-presentation {
  width: calc(60vw - 20rem);
  margin-left: 4rem;
  max-height: 30vh;
}
.body .main .global-container .portfolio .txt-presentation h1 {
  margin-bottom: 1.5rem;
}
.body .main .global-container .portfolio .txt-presentation p {
  margin-top: 1.5rem;
  max-width: 50vw;
  text-align: justify;
  line-height: 1.6rem;
  font-weight: 500;
}
.body .main .global-container .portfolio .txt-presentation .action {
  display: flex;
  margin-top: 2rem;
}
.body .main .global-container .portfolio .txt-presentation .action a {
  display: flex;
  margin: 0 1rem;
  width: 10rem;
  height: 2.5rem;
  background: #F2542D;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.body .main .global-container .portfolio .txt-presentation .action a .content {
  text-align: center;
  color: #fff;
}
.body .main .global-container .portfolio .txt-presentation .action a:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 8px #f2542d;
}
.body .main .global-container .portfolio .presentation {
  margin-top: 4rem;
}
.body .main .global-container .portfolio .presentation .global-competences .title {
  margin-bottom: 2rem;
}
.body .main .global-container .portfolio .presentation .global-competences .competences {
  max-height: calc(100vh - 30rem);
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence {
  display: flex;
  margin: 1rem 1rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence img {
  width: 5rem;
  margin: 0rem 1rem;
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence .competence-description {
  max-width: 15rem;
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence:nth-child(1) {
  box-shadow: 0 0 10px rgba(247, 83, 33, 0.5019607843);
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence:nth-child(2) {
  box-shadow: 0 0 10px rgba(32, 144, 235, 0.4862745098);
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence:nth-child(3) {
  box-shadow: 0 0 10px rgba(199, 99, 149, 0.4941176471);
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence:nth-child(4) {
  box-shadow: 0 0 10px rgba(232, 211, 77, 0.4941176471);
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence:nth-child(5) {
  box-shadow: 0 0 10px rgba(115, 119, 173, 0.5019607843);
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence:nth-child(6) {
  box-shadow: 0 0 10px #d8d6ca;
}
.body .main .global-container .portfolio .presentation .global-competences .competences .competence:nth-child(7) {
  box-shadow: 0 0 10px rgba(61, 122, 171, 0.5058823529);
}

@media only screen and (max-width: 1792px) {
  .body .main .global-container .portfolio .presentation .global-competences .competences {
    justify-content: center;
  }
}
@media only screen and (max-width: 1000px) {
  .body .main {
    height: 100vh;
  }
  .body .main .global-container .portfolio .image-portfolio .cadre-image {
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    width: calc(10rem + 8vw);
    height: calc((10rem + 8vw) * 1.0407);
    border: solid 10px #211A1D;
  }
  .body .main .global-container .portfolio .image-portfolio img {
    width: calc(10rem + 8vw);
    height: calc(10.5rem + 8vw);
    position: relative;
    box-shadow: 0 0 10px #a7a69b;
  }
  .body .main .global-container .portfolio .txt-presentation {
    width: calc(100vw - 26rem);
    margin-left: 1;
  }
  .body .main .global-container .portfolio .presentation {
    max-height: 100rem;
    overflow-y: visible;
    top: 0;
    position: sticky;
  }
  .body .main .global-container .portfolio .presentation .global-competences {
    margin-top: 3rem;
    position: sticky;
  }
}
@media only screen and (max-width: 750px) {
  .body .main .global-container {
    padding: 3.5rem 1rem 1rem 1rem;
  }
  .body .main .global-container .portfolio {
    margin: 0rem 1rem;
  }
  .body .main .global-container .portfolio .txt-presentation {
    margin-left: 1.5rem;
  }
  .body .main .global-container .portfolio .txt-presentation p {
    margin-top: 1.5rem;
    max-width: 85vw;
  }
  .body .main .global-container .portfolio .txt-presentation .action {
    display: flex;
    margin-top: 2rem;
  }
  .body .main .global-container .portfolio .txt-presentation .action a {
    margin: 0 0.5rem;
  }
  .body .main .global-container .portfolio .presentation {
    max-height: 62vh;
    top: 60vh;
  }
}
@media only screen and (max-width: 775px) {
  .body .main .global-container .portfolio .presentation .global-competences .competences {
    max-height: calc(100vh - 33rem);
  }
}
@media only screen and (max-width: 730px) {
  .body .main {
    height: 100vh;
    overflow-y: scroll;
  }
  .body .main .global-container .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .body .main .global-container .portfolio .image-portfolio {
    display: flex;
    width: 14rem;
  }
  .body .main .global-container .portfolio .image-portfolio .cadre-image {
    position: absolute;
  }
  .body .main .global-container .portfolio .txt-presentation {
    margin: 3rem 0 0 0;
    width: 60%;
  }
  .body .main .global-container .portfolio .presentation {
    margin-top: 0;
  }
  .body .main .global-container .portfolio .presentation .global-competences .competences {
    overflow: visible;
    margin-bottom: 2rem;
    max-height: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .body .main .global-container .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .body .main .global-container .portfolio .image-portfolio {
    display: flex;
    width: 14rem;
  }
  .body .main .global-container .portfolio .txt-presentation {
    margin: 3rem 0 0 0;
    width: 85%;
  }
}/*# sourceMappingURL=index.css.map */