.global-my-resa {
    display: flex;
    flex-direction: column;
    width: 850px;
    margin-top: 10rem;
}

.global-resa-item {
    width: 850px;
    background: #fdf4e383;
    margin: 2rem;
    padding: 1.5rem;
    
}