.global-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;

    & .title {
        text-align: center;
        margin-top: 1.5rem;
    }
    
    & table {
        border: solid 1px #000;
        border-spacing: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 3rem;
        margin-bottom: 5rem;
    
        & th, & td{
            border: solid 1px #000;
            padding: 0rem .5rem;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .global-container {
        display: block;
        
        & .tableau {
            overflow: scroll;
        }
    }
}