*, *::before, *::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border-style: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: #000000;
}

body {
  overflow-X: hidden;
}

.header {
  position: fixed;
  width: 100vw;
  background: #fff;
  z-index: 10;
  border-bottom: solid 1px #b0b0b0;
}
.header .nav {
  display: flex;
  justify-content: center;
  align-items: start;
}
.header .nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 1rem 0;
  width: 100%;
  z-index: 10;
  position: relative;
}
.header .nav .nav-list .nav-list-left {
  display: flex;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 420px;
}
.header .nav .nav-list .nav-list-left .nav-item {
  margin: 0 3rem;
  position: relative;
  transition: 0.2s;
}
.header .nav .nav-list .nav-list-left .nav-item .dropdown-menu-cache {
  width: 100%;
  height: 57px;
  position: absolute;
  left: 0;
  background: none;
  display: none;
}
.header .nav .nav-list .nav-list-left .nav-item .dropdown-menu {
  width: 100vw;
  position: absolute;
  background: #3fbef0;
  display: none;
  transition: 0.4s;
  flex-direction: column;
  z-index: 9;
}
.header .nav .nav-list .nav-list-left .nav-item .dropdown-menu .formation-content-top {
  width: 100%;
  margin: 1rem 0 0 1rem;
}
.header .nav .nav-list .nav-list-left .nav-item .dropdown-menu .formation-content-top p {
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}
.header .nav .nav-list .nav-list-left .nav-item .dropdown-menu .formation-content-top .baumans-font {
  color: #fff;
  font-family: "Baumans", cursive !important;
  font-size: 2rem;
  font-weight: 400;
}
.header .nav .nav-list .nav-list-left .nav-item .dropdown-menu .formation-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem 2rem 2rem;
}
.header .nav .nav-list .nav-list-left .nav-item .dropdown-menu .formation-content-bottom .title-formation-content {
  color: #fff;
  font-size: 1.8rem;
}
.header .nav .nav-list .nav-list-left .nav-item .dropdown-menu .formation-content-bottom .txt-formation-content {
  margin: 0.75rem 0 0 2rem;
}
.header .nav .nav-list .nav-list-left .nav-item .dropdown-menu .formation-content-bottom .txt-formation-content .formation-item {
  color: #fff;
  margin-top: 0.5rem;
  cursor: pointer;
}
.header .nav .nav-list .nav-list-left .nav-item .dropdown-menu .formation-content-bottom .txt-formation-content .formation-item:hover {
  text-decoration: underline;
}
.header .nav .nav-list .nav-list-left .nav-item .menu-formations {
  left: -48px;
}
.header .nav .nav-list .nav-list-left .nav-item .menu-ressourses {
  left: -256px;
}
.header .nav .nav-list .nav-list-left .nav-item .nav-link {
  display: flex;
}
.header .nav .nav-list .nav-list-left .nav-item .nav-link .triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 17.4px solid #b0b0b0; /* Vous pouvez changer la couleur ici */
  margin-left: 0.5rem;
  transition: 0.4s;
}
.header .nav .nav-list .nav-list-left .nav-item:hover .dropdown-menu-cache {
  display: block;
}
.header .nav .nav-list .nav-list-left .nav-item:hover .dropdown-menu {
  display: flex;
  top: 57px;
}
.header .nav .nav-list .nav-list-left .nav-item:hover .nav-link .triangle {
  transform: rotate(180deg) translateY(-5px);
  border-bottom: 17.4px solid #3fbef0; /* Vous pouvez changer la couleur ici */
}
.header .nav .nav-list .nav-list-center {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
.header .nav .nav-list .nav-list-center .nav-item {
  padding-top: 0.5rem;
  margin: auto 5rem;
}
.header .nav .nav-list .nav-list-center .nav-item .logo-txt {
  color: #3fbef0 !important;
  font-family: "Baumans", cursive !important;
  font-size: 2.8rem;
}
.header .nav .nav-list .nav-list-center .logo {
  margin-left: 1rem !important;
  margin-right: auto;
  min-width: 140px;
}
.header .nav .nav-list .nav-list-right {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto;
  min-width: 420px;
}
.header .nav .nav-list .nav-list-right .nav-item {
  margin: 0 1rem;
  text-align: center;
  transition: 0.4s;
  margin-left: auto;
  margin-right: auto;
}
.header .nav .nav-list .nav-list-right .nav-item a {
  transition: 0.4s;
}
.header .nav .nav-list .nav-list-right .nav-item:first-child a {
  border: solid 1px #3fbef0;
  padding: 0.5rem;
  border-radius: 25px;
  color: #3fbef0 !important;
}
.header .nav .nav-list .nav-list-right .nav-item:first-child:hover a {
  border: solid 1px #fff;
  background: rgba(63, 190, 240, 0.5215686275);
  color: #fff !important;
}
.header .nav .nav-list .nav-list-right .nav-item:last-child a {
  border: solid 1px #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  background: #3fbef0;
  color: #fff !important;
}
.header .nav .nav-list .nav-list-right .nav-item:last-child:hover a {
  border: solid 1px #fff;
  background: rgba(63, 190, 240, 0.5215686275);
  color: #fff !important;
}

.main {
  padding: 6rem 0 0 0;
}

.footer {
  width: 100vw;
  border-top: solid 1px #b0b0b0;
  position: absolute;
  background: #fff;
}
.footer .footer-global-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}
.footer .footer-global-container .footer-top-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-evenly;
}
.footer .footer-global-container .footer-top-container .footer-tips {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
.footer .footer-global-container .footer-top-container .footer-tips .aide, .footer .footer-global-container .footer-top-container .footer-tips .a-propos, .footer .footer-global-container .footer-top-container .footer-tips .reseaux {
  margin-top: 0.5rem;
  color: #707070;
  cursor: pointer;
}
.footer .footer-global-container .footer-top-container .footer-tips .aide:hover, .footer .footer-global-container .footer-top-container .footer-tips .a-propos:hover, .footer .footer-global-container .footer-top-container .footer-tips .reseaux:hover {
  text-decoration: underline;
}
.footer .footer-global-container .footer-top-container .footer-tips .img-reseaux {
  width: 30px;
}
.footer .footer-global-container .footer-top-container .footer-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000 !important;
  margin-bottom: 1rem !important;
}
.footer .footer-global-container .footer-top-container .footer-title:hover {
  text-decoration: none !important;
}
.footer .footer-global-container .footer-bottom-container {
  margin-top: 3rem;
  margin-bottom: 2em;
}
.footer .footer-global-container .footer-bottom-container .mention {
  color: #707070;
}
.footer .footer-global-container .footer-bottom-container .mention:hover {
  text-decoration: underline;
}/*# sourceMappingURL=main.css.map */