.global-container {
    margin: 3rem 1.5rem 1rem;

    & .title {
        & h1 {
            text-align: center;
            font-size: 2rem;
        }
    }

    & .projets {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 3rem - 1.2rem - 2.5rem - 4rem);
        overflow-x: scroll;
        margin-top: 2.5rem;

        & .projet {
            display: flex;
            flex-direction: column;
            margin: .5rem 1.5rem 1rem;
            padding: .5rem;
            border-radius: 15pxd;
            box-shadow: 0 0 10px #e6e6d9;

            & .projet-title {
                text-align: center;
                font-size: 1.3rem;
                font-weight: 600;
                margin-bottom: 2rem;
            }

            & .global-projet-description {
                display: flex;
                padding: 1rem;
                align-items: center;
                
                & .image-projet {
                    max-width: 25rem;
                    border-radius: 15px;
                    box-shadow: 0 0 10px #a7a69b;
                }

                & .projet-description {

                    & .description {
                        margin: 0 1.5rem;
                        font-size: 1.2rem;
                        font-weight: 500;
                        text-align: justify;
                    }
                
                    & .bouton-action {
                        display: flex;
                        margin-top: 2rem;

                        & a {
                            margin: 1rem 1.5rem;

                            & .bouton {
                                display: flex;
                                height: 2.5rem;
                                padding: .5rem;
                                background: #F2542D;
                                transition: .2s;
                                justify-content: center;
                                align-items: center;
                                border-radius: 15px;
                                font-size: 1.1rem;
                                font-weight: 500;

                                & img {
                                    width: 1.5rem;
                                    margin-left: .5rem;
                                }

                                &:hover {
                                    transform: translateY(-4px);
                                    box-shadow: 0 0 8px #f2542d;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    & .remarque {
        position: absolute;
        top: auto;
        bottom: 1rem;
    }
}

@media only screen and (max-width: 1250px) {
    .global-container {
        margin: 2.5rem 1rem 1rem;
    
        & .projets {
    
            & .projet {
    
                & .global-projet-description {
                    
                    & .image-projet {
                        max-width: 18rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 670px) {
    .global-container {
        margin: 2.5rem 1rem 1rem;
        height: calc(100vh - 6rem);
        overflow-x: scroll;
    
        & .projets {
            overflow: visible;
    
            & .projet {
    
                & .global-projet-description {
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    
                    & .image-projet {
                        max-width: 60vw;
                        margin-bottom: 1rem;
                    }

                    & .projet-description {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        & .description {
                            margin: 0 1.5rem;
                            font-size: 1.2rem;
                            font-weight: 500;
                            text-align: justify;
                            width: 60vw;
                        }
                    
                        & .bouton-action {
                            display: flex;
                            margin-top: 2rem;
    
                            & a {
                                margin: 1rem 1.5rem;
    
                                & .bouton {
                                    display: flex;
                                    height: 2.5rem;
                                    padding: .5rem;
                                    background: #F2542D;
                                    transition: .2s;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 15px;
                                    font-size: 1.1rem;
                                    font-weight: 500;
    
                                    & img {
                                        width: 1.5rem;
                                        margin-left: .5rem;
                                    }
    
                                    &:hover {
                                        transform: translateY(-4px);
                                        box-shadow: 0 0 8px #f2542d;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        & .remarque {
            position: absolute;
            top: auto;
            bottom: 1rem;
            font-size: .8rem;
        }
    }
}

@media only screen and (max-width: 450px) {
    .global-container {

        & .title {
            & h1 {
                text-align: center;
                font-size: 1.8rem;
            }
        }
        & .projets {
    
            & .projet {
    
                & .global-projet-description {
                    
                    & .image-projet {
                        max-width: 60vw;
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        & .remarque {
            font-size: .6rem;
        }
    }
}

@media only screen and (max-width: 380px) {
    .global-container {
        & .projets {
            & .projet {
                & .global-projet-description {
                    & .image-projet {
                        max-width: 60vw;
                        margin-bottom: 1rem;
                    }
                    & .projet-description {

                        & .description {
                            margin: 0 .5rem;
                            font-size: 1rem;
                            width: 60vw;
                        }

                        & .bouton-action {
    
                            & a {
                                margin: .5rem .5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}